 body{
  direction: rtl;
  background: #333;
  color: #fff;
}

.navbar{
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section{
  background: url('../img/home.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  color: rgb(212, 212, 218);
}

#home-section .overlay{
  background-color: rgba (176,196,222,0.7);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#home-section .home-inner{
  padding-top: 100px;
}

#home-section .home-form{
  opacity: 0.8;
}

#home-section .fa{
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

 #article-section .fa{
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

.modal-header .close{
  margin-left: 0px;
}
#article{
  background:rgb(51, 49, 49);
  color: #fff;
}
.modal-header .close{
  margin-left: 0px ;
}
